<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:usdl-core="http://www.linked-usdl.org/ns/usdl-core#"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:skos="http://www.w3.org/2004/02/skos/core#"
    xmlns:wire="http://wirecloud.conwet.fi.upm.es/ns/widget#"
    xmlns:vCard = "http://www.w3.org/2006/vcard/ns#"
    xmlns:gr="http://purl.org/goodrelations/v1#">

    <wire:Operator rdf:about="http://wirecloud.conwet.fi.upm.es/ns/widget#Operator">
        <dcterms:title>MeasurementsRetrieval</dcterms:title>
        <wire:displayName>Measurements Retrieval</wire:displayName>
        <dcterms:description>Retrieve a collection of measurements of the selected biologic parameter for a specific user at the predefined time period.</dcterms:description>
        <dcterms:creator rdf:resource="http://portal.singularlogic.eu">Panagiotis Athanasoulis</dcterms:creator>
        <dcterms:license>Apache 2.0</dcterms:license>
        <wire:hasImageUri rdf:resource="images/logo.png"/>
        <usdl-core:versionInfo>0.2.6</usdl-core:versionInfo>
        <usdl-core:utilizedResource rdf:resource="js/jquery-1.10.2.min.js"/>
        <usdl-core:utilizedResource rdf:resource="js/main.js"/>
        <usdl-core:hasProvider rdf:resource="http://portal.singularlogic.eu"/>

        <vCard:addr>
            <vCard:Work>
                <vCard:email>pathanasoulis@ep.singularlogic.eu</vCard:email>
            </vCard:Work>
        </vCard:addr>

        <wire:hasPlatformWiring>
            <wire:PlatformWiring rdf:ID="wiring">
                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input1">
                        <dcterms:title>paramType</dcterms:title>
                        <dcterms:description>The desired parameter of user.</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>type</rdfs:label>
                        <wire:friendcode>parameter</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>

                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input2">
                        <dcterms:title>startDate</dcterms:title>
                        <dcterms:description>The start date</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>fromDate</rdfs:label>
                        <wire:friendcode>startDate</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>

                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input3">
                        <dcterms:title>endDate</dcterms:title>
                        <dcterms:description>The end date</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>untilDate</rdfs:label>
                        <wire:friendcode>endDate</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>

                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input4">
                        <dcterms:title>userID</dcterms:title>
                        <dcterms:description>The selected user.</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>user</rdfs:label>
                        <wire:friendcode>user</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>

                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input5">
                        <dcterms:title>url</dcterms:title>
                        <dcterms:description>APIs url</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>url</rdfs:label>
                        <wire:friendcode>url</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>

                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input6">
                        <dcterms:title>medstaffID</dcterms:title>
                        <dcterms:description>The username of the medical staff member</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>Medical staff</rdfs:label>
                        <wire:friendcode>medstaffID</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>

                <wire:hasOutputEndpoint>
                    <wire:OutputEndpoint rdf:ID="output1">
                        <dcterms:title>retrievedData</dcterms:title>
                        <dcterms:description>A set of MySQL records</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>rawData</rdfs:label>
                        <wire:friendcode>rawData</wire:friendcode>
                    </wire:OutputEndpoint>
                </wire:hasOutputEndpoint>
            </wire:PlatformWiring>
        </wire:hasPlatformWiring>
    </wire:Operator>

    <foaf:Person rdf:about="http://portal.singularlogic.eu">
        <foaf:name>SingularLogic</foaf:name>
    </foaf:Person>

    <gr:BusinessEntity rdf:about="http://portal.singularlogic.eu">
        <foaf:name>SingularLogic</foaf:name>
    </gr:BusinessEntity>

    <usdl-core:utilizedResource rdf:about="js/jquery-1.10.2.min.js">
        <wire:index>0</wire:index>
    </usdl-core:utilizedResource>

    <usdl-core:utilizedResource rdf:about="js/main.js">
        <wire:index>1</wire:index>
    </usdl-core:utilizedResource>

</rdf:RDF>
