<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">

    <Catalog.ResourceDescription>
        <Vendor>SingularLogic</Vendor>
        <Name>Biologic_Parameter_Representation</Name>
        <Version>0.2.6</Version>
        <DisplayName>List of biologic parameters</DisplayName>
        <Author>Panagiotis_Athanasoulis</Author>
        <Mail>pathanasoulis@ep.singularlogic.eu</Mail>
        <Description>Depict a list of the registered biologic parameters. Also, any medical staff member has the capability to add a new biologic parameter and modify or delete an existing one.</Description>
        <ImageURI>images/logo.png</ImageURI>
        <License>Apache 2.0</License>
        <WikiURI>doc/index.html</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Preferences>
    </Platform.Preferences>

    <Platform.StateProperties>
    </Platform.StateProperties>

    <Platform.Wiring>
        <InputEndpoint name="biologic_parameters"
            type="text"
            label="parameters"
            description="List of biologic parameters"
            friendcode="list"
        />
        <InputEndpoint name="url"
            type="text"
            label="url"
            description="APIs url"
            friendcode="url"
        />
        <OutputEndpoint name="reload"
            type="text"
            label="reload"
            description="Reload the table of biologic_parameters."
            friendcode="reload"
        />
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html" use-platform-style="true"/>
    </Platform.Link>

    <Platform.Rendering width="18" height="35"/>

</Template>
