<?xml version="1.0" encoding="UTF-8"?>

<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">

    <Catalog.ResourceDescription>
        <Vendor>SingularLogic</Vendor>
        <Name>Measurements_Filter</Name>
        <Version>0.2.5</Version>
        <DisplayName>Measurements Search</DisplayName>
        <Author>Panagiotis_Athanasoulis</Author>
        <Mail>pathanasoulis@ep.singularlogic.eu</Mail>
        <Description>Define the biologic parameter of interest associated with a specific user into the selected time period.</Description>
        <ImageURI>images/logo.png</ImageURI>
        <License>Apache 2.0</License>
        <WikiURI>doc/index.html</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Preferences>
    </Platform.Preferences>

    <Platform.StateProperties>
    </Platform.StateProperties>

    <Platform.Wiring>
        <InputEndpoint name="parameters"
            type="text"
            label="parameters"
            description="The measured biological parameters."
            friendcode="list"
        />
        <InputEndpoint name="users"
            type="text"
            label="users"
            description="The list of users."
            friendcode="users"
        />
        <InputEndpoint name="refresh"
            type="text"
            label="reload"
            description="Reload measurements."
            friendcode="refresh"
        />
        <InputEndpoint name="url"
            type="text"
            label="url"
            description="APIs url."
            friendcode="url"
        />        
        <InputEndpoint name="medstaffID"
            type="text"
            label="medical staff"
            description="Medical staff member."
            friendcode="medstaffID"
        />

        <OutputEndpoint name="userID"
            type="text"
            label="user"
            description="The user of your interest."
            friendcode="user"
        />
        <OutputEndpoint name="paramType"
            type="text"
            label="type"
            description="The desired parameter (either biological parameter or fall risk)."
            friendcode="parameter"
        />
        <OutputEndpoint name="startDate"
            type="text"
            label="startDate"
            description="Define the start datetime of your interest related to the selected parameter"
            friendcode="startDate"
        />
        <OutputEndpoint name="endDate"
            type="text"
            label="endDate"
            description="Define the end datetime of your interest related to the selected parameter"
            friendcode="endDate"
        />
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html" use-platform-style="true"/>
    </Platform.Link>

    <Platform.Rendering width="5" height="32"/>

</Template>
