<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:usdl-core="http://www.linked-usdl.org/ns/usdl-core#"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:skos="http://www.w3.org/2004/02/skos/core#"
    xmlns:wire="http://wirecloud.conwet.fi.upm.es/ns/widget#"
    xmlns:vCard = "http://www.w3.org/2006/vcard/ns#"
    xmlns:gr="http://purl.org/goodrelations/v1#">

    <wire:Operator rdf:about="http://wirecloud.conwet.fi.upm.es/ns/widget#Operator">
        <dcterms:title>Parameters Retrieval</dcterms:title>
        <wire:displayName>Parameters Retrieval</wire:displayName>
        <dcterms:description>Retrieve the list of the registered biological parameters.</dcterms:description>
        <dcterms:creator rdf:resource="http://portal.singularlogic.eu">Panagiotis Athanasoulis</dcterms:creator>
        <wire:hasImageUri rdf:resource="images/logo.png"/>
        <usdl-core:versionInfo>0.2.2</usdl-core:versionInfo>
        <usdl-core:utilizedResource rdf:resource="js/jquery-1.10.2.min.js"/>
        <usdl-core:utilizedResource rdf:resource="js/main.js"/>
        <usdl-core:hasProvider rdf:resource="http://portal.singularlogic.eu"/>

        <vCard:addr>
            <vCard:Work>
                <vCard:email>pathanasoulis@ep.singularlogic.eu</vCard:email>
            </vCard:Work>
        </vCard:addr>

        <wire:hasPlatformWiring>
            <wire:PlatformWiring rdf:ID="wiring">
                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input1">
                        <dcterms:title>trigger</dcterms:title>
                        <dcterms:description>Triggered action.</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>trigger</rdfs:label>
                        <wire:friendcode>parameters_reload</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>
                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="input2">
                        <dcterms:title>url</dcterms:title>
                        <dcterms:description>APIs host</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>url</rdfs:label>
                        <wire:friendcode>url</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>

                <wire:hasOutputEndpoint>
                    <wire:OutputEndpoint rdf:ID="output1">
                        <dcterms:title>list</dcterms:title>
                        <dcterms:description>A list of the measured biological parameters.</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>list</rdfs:label>
                        <wire:friendcode>list</wire:friendcode>
                    </wire:OutputEndpoint>
                </wire:hasOutputEndpoint>

            </wire:PlatformWiring>
        </wire:hasPlatformWiring>
    </wire:Operator>

    <foaf:Person rdf:about="http://portal.singularlogic.eu">
        <foaf:name>SingularLogic</foaf:name>
    </foaf:Person>

    <gr:BusinessEntity rdf:about="http://portal.singularlogic.eu">
        <foaf:name>SingularLogic</foaf:name>
    </gr:BusinessEntity>

    <usdl-core:utilizedResource rdf:about="js/jquery-1.10.2.min.js">
        <wire:index>0</wire:index>
    </usdl-core:utilizedResource>

    <usdl-core:utilizedResource rdf:about="js/main.js">
        <wire:index>1</wire:index>
    </usdl-core:utilizedResource>

</rdf:RDF>